@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    font-weight: 600;
    
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 64px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1
}

p {
  font-family: "Saira Extra Condensed", sans-serif;
  line-height: 2;
  
}

h3 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 32px;
}

h4 {
    font-size: 16px;
}

button {
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    background-color: black;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

.link__hover-effect--white:after {
    background-color: white;
}
.link__hover-effect--black:after {
    background-color: black;
}

input, textarea {
    width: 100%; 
    background-color: #381b22;
    color: white;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    font-size: 16px;
    font-family: "Saira Extra Condensed", sans-serif;
    transition: all 300ms ease;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #b1304c
}

label {
    font-size: 18px;
    font-weight: bold;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}


section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}



.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.pink {
    color: #b1304c;
    font-weight: bold;
    font-size: 125%;
}

.pink--modal {
    color: #b1304c;
    font-weight: bold;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 18px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

nav,
.scroll,
.header {
    opacity:1;
    visibility: visible;
    transition: all 600ms 300ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
    opacity:0;
    visibility: hidden;
    transition: all 400ms;
}

/* Navigation */

#personal-logo {
    filter: invert(1);
    width: 80px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px; 
    padding: 0 20px;
}

.nav__link--list {
    list-style-type: none;
    display: flex;
}

.nav__link {
    padding: 0 32px;
}

.nav__link--anchor {
    text-decoration: none;
    color: black;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
}

.fa-circle-half-stroke {
    font-size: 18px;
}

.dark-theme .title, 
.dark-theme .section__title, 
.dark-theme .section__sub-title, 
.dark-theme .nav__link--anchor, 
.dark-theme .header__para, 
.dark-theme .fa-circle-half-stroke,
.dark-theme .projects__header {
    color:white;
}

.dark-theme section {
    background-color: #381b22;
}

.dark-theme #personal-logo {
    filter: invert(0);
}

.dark-theme .mail__btn {
    background-color: #b1304c;
}

.dark-theme .scroll__icon {
    border-color: white;    
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: white;
}

.dark-theme .modal__contact, .input {
    background-color: #856b71;
}

/* Landing Page */

#landing-page {
    min-height: 100vh;

}

.header__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b1304c;
     object-position: center 40%;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__content {
    margin-left: 40px;
}

.title {
    font-size: 72px;
}

.title__secondary {
    color: #b1304c;
    font-size: 72px
}

.header__para {
    line-height: 1.5;
    max-width: 400px;
    font-size: 24px;
}

.header__links {
    margin-top: 16px;
    display: flex;
}


.fa-github, .fa-linkedin-in, .fa-file-pdf, .fa-link {
   font-size: 16px;
}

.header__link {
   text-decoration: none;
   background-color: #b1304c;
   color: white;
   width: 32px;
   height: 32px;
   font-size: 16px;
   padding: 4px;
   margin-right: 8px;
   border: 1px solid #b1304c;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mail__btn {
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #381b22;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(50%);
    
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    background-color: #242424;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px)
    } 
    
    100% {
        transform: translateY(-3px);
    }
}

/*Modal*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}
 
.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    position: relative;
    transition: all 300ms ease-in;
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal__title {
    font-size: 30px;
    font-weight: bold;
}

.modal__subtitle {
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
}

.modal__para {
    font-size: 18px;
    margin-bottom: 16px;
}

.modal__languages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
    text-align: center;
}

.modal__language--img {
    width: 100%;
    padding-bottom: 8px;
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
    transform: scale(0.9);
}

.language__name {
    position: absolute;
    bottom: -10px;
    font-size: 16px;
    transform: scale(0);
    transition: transform 300ms ease;
}


.modal__contact {
    background-color: #381b22;
    color: white;
    transform: translateX(110%);
}

.form__item {
    margin-bottom: 20px;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #b1304c;
    color: white;
    font-size: 20px;
    border: 1px solid #b1304c;
    border-radius: 5px;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #b1304c;
    color: #b1304c;
}

.modal__overlay--loading {
    background-color: #381b22;

}

.fa-spinner {
    font-size: 80px;
    animation: spinner 750ms infinite;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 28px;

}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}


/* Projects */

.project {
    list-style-type: none;
}

.projects__header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.project__img {
    width: 100%;
    transition: all 450ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0;
    color: rgba (0, 0, 0, 0.45);
    overflow: hidden;
    margin-bottom: 32px;

}

.project__wrapper:hover .project__wrapper--background {
    opacity: 0.7;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%)
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #271419;
    opacity: 0;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 300ms ease, transform 450ms ease;
}

.project__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin: 16px 0;
}

.project__description--link {
    color: white;
    text-decoration: none;
    margin-right: 8px;

}

.teach__projects { 
  overflow: hidden;
  width: 100%;
  margin-bottom: 72px;
}

.teach__track {
  margin-top: 200px; 
  display: flex;
  width: max-content;
  animation: scroll-left 90s linear infinite;
}

.flipbook {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 2000px;
  flex-shrink: 0;
  left: 150px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: transform 3s ease;
}

.page:nth-child(1) { z-index: 5; }
.page:nth-child(2) { z-index: 4; }
.page:nth-child(3) { z-index: 3; }
.page:nth-child(4) { z-index: 2; }
.page:nth-child(5) { z-index: 1; }
.page:nth-child(6) { z-index: 0; }


.page.flipped {
  transform: rotateY(-180deg);
}

.teach__img {
  width: 600px;
  margin: 0 36px;
  flex-shrink: 0;
  background-color: #f5f5f5;
}

.tall {
  width: 400px;
  height: 500px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Footer */

footer {
    background-color: #381b22;
    display: flex;
    position: relative;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    width: 80px;
    height: 80px;
}

.footer__social--list {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer__social--link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer__copyright {
    font-family: "Saira Extra Condensed", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400; 
}

/* Shapes */

.shape {
    position: fixed;
    width: 16px;
    height: 16px;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}
.shape--1 {
    top: 15vh;
    left: 50vw;
}
.shape--2 {
    top: 15vh;
    left: 80vw;
}
.shape--3 {
    display: none;
}
.shape--4 {
    top: 50vh;
    left: 50vw;
}
.shape--5 {
    top: 50vh;
    left: 80vw;
}
.shape--6 {
    top: 90vh;
    left: 5vw;
}
.shape--7 {
   top: 90vh;
    left: 50vw;
}
.shape--8 {
    top: 90vh;
    left: 80vw;
}

@media (max-width: 768px) {
    .title, .title__secondary {
        font-size: 60px;
    }

    .header__para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
    }

    .modal__half {
        width: 100%;
        border-radius: 0;
        padding: 32px;
    }

    .modal__language {
        width: 15%;
    }

    .modal__para {
        line-height: 1.2;
    }
}

@media (max-width: 480px) {

   
    #personal-logo {
        width: 60px;
        height: 60px;
    }

    .nav__link:first-child {
        display: none;
    }

    .nav__link:nth-child(3) {
        padding-right: 0;
    }

    .nav__link--anchor {
        font-size: 18px;
    }

    .fa-circle-half-stroke {
        font-size: 12px;
        padding-left: 0px;
    }
    
    .title, .title__secondary {
        font-size: 48px;
    }

    .header__para {
        font-size: 16px;
    }

    .header__link {
        width: 24px;
        height: 24px;
    }

    .projects__header {
        font-size: 38px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
    }

    .modal__half {
        width: 100%;
        border-radius: 0;
        padding: 32px;
    }

    .language__name {
       bottom: -20px;
    }
    
    .modal__language {
        width: 15%; 
        padding: 4px;  
    }

    .modal__para {
        line-height: 1.2;
    }

    .project__description {
        left: 0;
        padding: 6px;
    }
    
}